<app-entete></app-entete>
<main class="d-flex justify-content-center">
  <form class=" border p-3 rounded-2" [formGroup]="etudiantForm" >
    <div class="titrePage border-bottom-0">Ajout nouvel étudiant</div>

    <div class="mb-3">
      <div class="form-floating">
        <input
          formControlName="prenom"
          type="text"
          class="form-control"
          [class.is-invalid]="etudiantForm.controls['prenom'].touched && etudiantForm.controls['prenom'].invalid"
          [class.is-valid]="etudiantForm.controls['prenom'].touched && etudiantForm.controls['prenom'].valid"
          id="prenomInput"
          placeholder="name@example.com">
        <label for="prenomInput">Prenom</label>
      </div>
      @if(etudiantForm.controls['prenom'].touched && etudiantForm.controls['prenom'].errors){
        @if (etudiantForm.get('prenom')?.errors?.['required']){
          <div class="small text-danger ms-2 fst-italic">le champ prénom est obligatoire</div>
        }
        @if (etudiantForm.get('prenom')?.errors?.['minlength']){
          <div class="small text-danger ms-2 fst-italic">Le prenom doit contenir au moins 2 caracteres</div>
        }

        @if (etudiantForm.get('prenom')?.errors?.['maxlength']){
          <div class="small text-danger ms-2 fst-italic">Le prénom doit contenir au max 10 caracteres</div>
        }
        <!--erreur {{etudiantForm.controls['prenom'].errors|json}}-->
      }
    </div>

    <div class="form-floating mb-3">
      <input formControlName="nom" type="text" class="form-control" id="nomInput" placeholder="name@example.com">
      <label for="nomInput">Nom</label>
    </div>

    <div class="form-floating mb-3">
      <input formControlName="tel" type="text" class="form-control" id="telInput" placeholder="name@example.com">
      <label for="telInput">Téléphone</label>
    </div>

    <div class="form-check form-switch mb-3">
      <input formControlName="inscrit" class="form-check-input" type="checkbox" role="switch" id="inscritCheck">
      <label class="form-check-label" for="inscritCheck">Etudiant inscrit</label>
    </div>

    <div class="form-floating mb-3">
      <select formControlName="classId" class="form-select" id="floatingSelect" aria-label="Floating label select example">
        <option value="">Choisir la classe</option>
        @for (cls of classes; track cls.id){
          <option [value]="cls.code">{{cls.code}} : {{cls.nom}}</option>
        }
      </select>
      <label for="floatingSelect">Classe</label>
    </div>

    <div class="text-end">
      <button class="btn btn-danger me-2" type="reset">Annuler</button>
      <button class="btn btn-primary" [disabled]="etudiantForm.invalid" (click)="saveEtudiant()">Enregistrer</button>
    </div>
  </form>
</main>

<!--
form valid:{{etudiantForm.valid}}<br/>
form invalid:{{etudiantForm.invalid}}<br/>
form pristine:{{etudiantForm.pristine}}<br/>
form dirty:{{etudiantForm.dirty}}<br/>
form touched:{{etudiantForm.touched}}<br/>
form untouched:{{etudiantForm.untouched}}<br/>
-->
